body {
    background-color: #022114;
}

.rounded-0 {
    border-radius: 0;
}

.jumbotron {
    color: #092f0f;
    background-color: #bbc9d8;
}

a {
    color: #9F2E3F;
}

.link {
    color: #5a0610;
}

.help li {
    padding: .75rem .5rem .5rem;
}

h2 {
    margin-top: 3rem;
    text-decoration: underline;
}

.row {
    padding-right: 3rem;
}

.form-group.api-response {
    margin: 0;
}

#api_endpoints + table {
    margin-top: 3rem;
}

.jumbotron .description {
    font-size: 1.5rem;
}

.link__main {
    font-size: 1.75rem;
}

.text-indent-3 {
    text-indent: 3rem;
}

.text-indent-2 {
    text-indent: 2rem;
}

.text-indent-1 {
    text-indent: 1rem;
}

.text-justify {
    text-align: justify;
}

.lh-3 {
    line-height: 2rem;
}

.pl-4 {
    padding-left: 4rem;
}

body {
    background-color: #022114;
}

.jumbotron {
    color: #092f0f;
    background-color: #bbc9d8;
}

a {
    color: #9F2E3F;
}

code {
    padding: 0.015rem .25rem;
    text-indent: 0;
    font-weight: bold;
    font-size: 1rem;
    display: inline;
    width: max-content;
    color: inherit;
    border-bottom: crimson 2px dotted;
    word-break: keep-all;
}

.jumbotron {
    padding: 7rem;
}

.my-list-unstyled {
    list-style-type: none;
    padding-left: 5rem;
}

@media screen and (max-width: 720px) {
    .jumbotron {
        padding: 2rem;
    }
}

.codeBlock {
    position: relative;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 1.1em;
    line-height: 1.42857143;
    color: #151414;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #96add0;
    border: 1px solid #ccc;
    border-left: 5px solid #09f;
    border-radius: 4px;
    font-family: Consolas,Courier New,monospace;
}
